body {
    font-family: Roboto;
    font-weight: 300;
    font-size: 20px;

    background: black;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#container {
    width: 800px;
    margin: 50px auto 0 auto;
}

svg {
    background: #00E94F;

    box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.5) inset;
}

#solve-button {
    width: 545px;
    height: 50px;

    background: #00E94F;
    border: 1px solid #026223;

    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;

    outline: none;
    cursor: pointer;
}

#solve-button:hover {
    background: #00CE44;
}

#solve-button:active {
    background: #00A032;
}

#clear-button {
    width: 145px;
    height: 50px;

    background: #E80000;
    border: 1px solid #630000;

    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;

    outline: none;
    cursor: pointer;
}

#clear-button:hover {
    background: #BC0000;
}

#clear-button:active {
    background: #960000;
}

#grid-size-selector {
    width: 100px;
    height: 50px;

    background: #00A4E5;
    border: 1px solid #006B96;

    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
}